#fh5co-header .display-tc,
 .display-tc,
.fh5co-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2,
 .display-tc h1,
 .display-tc h2,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: black;
}
#fh5co-header .display-tc h1,
 .display-tc h1,
.fh5co-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 1.5;
  font-family: "Quintessential", serif;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
   .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 40px;
  }

  #fh5co-header img{
    width: 150px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header .display-tc h1,
   .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 30px;
  }

  #fh5co-header img{
    width: 250px;
  }
}
#fh5co-header .display-tc h2,
 .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  #fh5co-header .display-tc h2,
   .display-tc h2,
  .fh5co-cover .display-tc h2 {
    font-size: 16px;
  }
}
#fh5co-header .display-tc .btn,
 .display-tc .btn,
.fh5co-cover .display-tc .btn {
  padding: 15px 20px;
  background: #fff !important;
  color: #F14E95;
  border: none !important;
  font-size: 14px;
  text-transform: uppercase;
}
#fh5co-header .display-tc .btn:hover,
 .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:hover {
  background: #fff !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

.fh5co-cover {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: 600px;
  }
}
.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .display-t,
  .fh5co-cover .display-tc {
    height: 600px;
  }
}
.fh5co-cover.fh5co-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover-sm {
    height: 400px;
  }
}
.fh5co-cover.fh5co-cover-sm .display-t,
.fh5co-cover.fh5co-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover-sm .display-t,
  .fh5co-cover.fh5co-cover-sm .display-tc {
    height: 400px;
  }
}

.couple-wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .couple-wrap {
    width: 100%;
  }
}
#fh5co-header {
    background-size: cover;       /* fills the area, crops excess */
    background-position: center !important;  /* keeps the middle in view */
    background-repeat: no-repeat; 
    background-attachment: fixed;     /* Avoid tiling */
  }

  #fh5co-header video#header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;   /* makes video behave like background-size: cover */
  z-index: -1;         /* put video behind content */
}

